<ul class="tree-view-wrapper">    
    <li ng-repeat="n in getNodes()">                
        <span>
            <span ng-show="showIcon(n)" class="show-hide" ng-click="showHide($index); n.open = !n.open;">
                <i class="{{verClassesCSS(n)}}"> </i>
            </span>            
            <span ng-show="!showIcon(n)" style="padding-right: 13px"></span>
            <img ng-if="processando" width="60" src="public/js/treeview/loading.gif">
            <input ng-hide="processando" class="tree-checkbox" type="checkbox" ng-model="n.checked" ng-change="checkChange(n)" />
            <span class="edit">
                <i class="fa {{!n.children || n.children.length == 0 ? 'fa-file-o' : 'fa-folder'}}"></i>
            </span>
            {{n.name}}
        </span>                      
        <tree-view id="N{{nivel}}C{{$index}}I{{identity}}" ng-if="n.children && liberarNiveis" max="max" nivel="nivel" class="hide" model="n.children"></tree-view>
    </li>
</ul>